p{
	

	font-size: 40px;
	padding-bottom: 10px;
}

.habilidades{
	font-size: 20px;
	display: block;
  	padding: 10px 15px;
  	
}

.contato{
	font-size: 20px;
	display: block;
  	padding: 10px 15px;
  	
}
